<mat-toolbar color="primary">
  
    <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
            <mat-icon style="margin-right: 6px;">home</mat-icon>
            <span>Online Store</span>
        </div>
      
      <span class="example-spacer"></span>

      <div class="toolbar no-select">
        <button class="toolbar button" routerLink="" mat-flat-button>Главная</button>
        <button class="toolbar button" routerLink="products" mat-flat-button>Товары</button>
        <button class="toolbar button" routerLink="basket" mat-flat-button>Карзина</button>
      </div>
     
      
    </mat-toolbar-row>
  </mat-toolbar>
  
